body {
  background-color: #17183b;
  color: white;
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
}

.nav {
  padding: 50px 0 50px 0;
  width: 100%;
  background-color: #ffb49a;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-title {
  padding-left: 50px;
  font-size: 22px;
  font-weight: bolder;
}

.add-button {
  padding-right: 50px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.library-container {
  padding-top: 20px;
}

.library-header {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 20px;
}

.book-cards {
  display: grid;
  padding: 30px;
  border: 2px solid #989ad7;
  border-radius: 6px;
  background-color: #989ad7;
  grid-gap: 30px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.card-container {
  background-color: #17183b;
  padding: 10px;
  border-radius: 6px;
}

.info-container {
  padding-bottom: 10px;
}
.add-form {
  display: none;
  width: 50%;
  padding-top: 20px;
}

input,
select {
  margin-bottom: 10px;
  border-radius: 6px;
  background-color: #989ad7;
}

.form-control-container {
  display: flex;
  justify-content: space-between;
}

.inputs {
  display: flex;
  flex-direction: column;
}

.add-button {
  padding: 8px;
  background-color: #17183b;
  border-radius: 5px;
  text-align: center;
  margin-right: 20px;
  color: white;
}

.submit {
  margin-top: 6px;
  padding: 8px;
  background-color: #ff4f79;
  border-radius: 5px;
  text-align: center;
}

.close {
  margin-top: 6px;
  padding: 8px;
  background-color: #ff4f79;
  border-radius: 5px;
  text-align: center;
}

.delete-button {
  padding: 8px;
  font-weight: bold;
  background-color: #ff4f79;
  border-radius: 5px;
  text-align: center;
}

.button:hover {
  color: #a11692;
  cursor: pointer;
}

.display {
  display: block;
}

.hide {
  display: none;
}

.footer {
  padding: 25px 0px 25px 0px;
  background-color: #ffb49a;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.add-button:hover {
  color: #989ad7;
}
